[submodule "lib/git"]
	path = lib/git
	url = https://github.com/git/git.git
[submodule "lib/tmux-osx-pasteboard"]
	path = lib/tmux-osx-pasteboard
	url = https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
[submodule "settings/solarized"]
	path = settings/solarized
	url = https://github.com/altercation/solarized.git
[submodule "lib/mutt-colors-solarized"]
	path = lib/mutt-colors-solarized
	url = git://github.com/altercation/mutt-colors-solarized.git
[submodule "vim/vim/bundle/vundle"]
	path = vim/vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
